$white: #FFFFFF;
$black: #000000;
$Dodger-Blue: #2B7FFF;
$Sapphire: #011C44;
$Charcoal: #4A4A4A;
$Dim-Gray: #747272;
$Sapphire1: #011F4A;
$Sunglow: #FFD02B;
$Medium-Wood: #A18268;
$Old-Lace: #FAF4EA;
$bg: rgba(255, 255, 255, 0.25);